@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

/* 
background: linear-gradient(to right,#ffd7e7, #ffbfd9, #f78da7);
*/

:root {
  --text-color: #533833;
  --accent-color: #e6c2bf;
  --accent-color-2: #fffced;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fef8fc;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
  /* background-color: #fff; */
}

.page-title {
  color: var(--text-color);
  font-size: 50px;
  font-family: "playball", sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Navbar designs */
.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(254, 251, 234, 1) 0%,
    rgba(255, 219, 224, 1) 65%,
    rgba(255, 205, 228, 1) 100%
  );
  box-sizing: border-box;
}

.headerTitle {
  padding-left: 60px;
  padding-top: 10px;
  font-family: "ms madi", sans-serif; /* Alt text font */
}

.headerLinksContainer {
  display: flex;
  align-items: center;
  padding-right: 60px;
  padding-bottom: 30px;
}

.headerLinks {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}

.link:hover {
  color: var(--accent-color-2);
}

.socialLinks {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
}

.social-link:hover {
  color: var(--accent-color-2);
}

/* Home/Welcome Page */
.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(254, 251, 234, 1) 0%,
    rgba(255, 219, 224, 1) 65%,
    rgba(255, 205, 228, 1) 100%
  );
  height: 700px;
}

/* UNCOMMENT WHEN BACKGROUND STICKER IS IMPLEMENTED */
/* .homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/sticker.png') no-repeat center center;
    background-size: contain;
    z-index: 1;
} */

.homeContentLeft {
  width: 600px;
  margin: 0.5rem 1rem;
  padding-right: 400px;
  /* z-index: 2; */
}

.homeContentLeft span {
  font-family: "playball", sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: var(--text-color);
}

.homeContentLeft p {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.orderButton {
  padding: 10px 20px;
  height: 75%;
  background-color: var(--text-color);
  border: 2px solid transparent;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
}

.galleryButton {
  padding: 10px 20px;
  height: 75%;
  background-color: #fff;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  text-decoration: none;
}

.orderButton:hover {
  background-color: var(--accent-color);
}

.galleryButton:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.homeContentRight {
  width: 600px;
  margin: 0.5rem 1rem;
  z-index: 2;
}

.homeContentRight img {
  width: 100%;
  border-radius: 8px;
}

/* Gallery Section Styles */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* About Section */
.about {
  background-color: #fef8fc;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.about-container span {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
}

.about-text-container {
  width: 600px;
  height: auto;
  margin: 0.5rem 1rem;
  list-style: none;
}

.about-text-container p {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.about-text-container li {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.services-text {
  li:nth-child(2)::before {
    content: "🎂 ";
  }

  li:nth-child(3)::before {
    content: "🍪 ";
  }

  li:nth-child(4)::before {
    content: "🧁 ";
  }

  li:nth-child(5)::before {
    content: "🎈 ";
  }
}

.about-map {
  width: 600px;
  height: auto;
  margin: 0.5rem 1rem;
}

.about-map iframe {
  width: 600px;
  height: 450px;
}

.google-map {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CONTACT SECTION */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.contact-info {
  width: 600px;
  height: auto;
  margin: 0.5rem 1rem;
  list-style: none;
}

.contact-container span {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
}

.contact-info p {
  font-family: "lato", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.contact-info i {
  color: var(--text-color);
  font-size: 24px;
}

.contact-info a {
  text-decoration: none;
  color: var(--text-color);
}

.contact-info a:hover {
  color: var(--accent-color);
}

.contact-info p.notice {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}

.social-media {
  width: 600px;
  height: auto;
  margin: 0.5rem 1rem;
}

.social-media p {
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.media-embedd {
  display: flex;
  gap: 10px;
  height: auto;
}

.instagram-media {
  border: none !important;
  overflow: hidden !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px !important;
}

.facebook-media {
  border: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.instagram-media,
.facebook-media,
.google-map-container {
  transition: box-shadow 0.3s ease !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.instagram-media:hover,
.facebook-media:hover,
.google-map-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;
}

/* Media Queries */

/* Regular mobile Devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 40px;
    padding: 0;
  }

  .header {
    gap: 10px;
  }
  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 10px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 16px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 80px;
  }
  .homePage {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  .homeContentLeft {
    width: 100%;
    padding: 0;
    padding-right: 0;
    text-align: center;
  }
  .homeContentLeft span {
    font-size: 50px;
  }
  .homeContentLeft p {
    font-size: 20px;
  }
  .homeContentRight {
    display: none;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .orderButton {
    width: 100px;
    font-size: 16px;
  }
  .galleryButton {
    font-size: 16px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-item {
    width: 47%;
    height: auto;
    margin: 5px;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-text-container {
    width: auto;
  }
  .about-text-container li {
    font-size: 18px;
  }
  .about-container span {
    font-size: 25px;
  }
  .about-container p {
    font-size: 18px;
  }
  .about-map {
    width: auto;
  }
  .about-map iframe {
    width: 100%;
    height: 398px;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    width: auto;
  }
  .contact-info p {
    font-size: 18px;
  }
  .contact-info i {
    font-size: 20px;
  }
  .contact-container span {
    font-size: 25px;
  }
  .social-media {
    width: auto;
  }
  .social-media p {
    font-size: 18px;
  }
  .media-embedd {
    flex-direction: column;
  }
  .instagram-media,
  .facebook-media {
    width: 100%;
    height: 125px;
  }
}

/* Small Devices (Portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .page-title {
    font-size: 44px;
    padding: 0;
  }

  .header {
    gap: 10px;
  }
  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 10px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 18px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 90px;
  }
  .homePage {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }
  .homeContentLeft {
    width: 100%;
    padding: 0;
    padding-right: 0;
    text-align: center;
  }
  .homeContentLeft span {
    font-size: 56px;
  }
  .homeContentLeft p {
    font-size: 22px;
  }
  .homeContentRight {
    display: none;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .orderButton {
    width: 100px;
    font-size: 16px;
  }
  .galleryButton {
    font-size: 16px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-item {
    width: 40%;
    height: auto;
    margin: 5px;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-text-container {
    width: auto;
  }
  .about-text-container li {
    font-size: 20px;
  }
  .about-container span {
    font-size: 28px;
  }
  .about-container p {
    font-size: 20px;
  }
  .about-map {
    width: auto;
  }
  .about-map iframe {
    width: 100%;
    height: 400px;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    width: auto;
  }
  .contact-info p {
    font-size: 20px;
  }
  .contact-info i {
    font-size: 24px;
  }
  .contact-container span {
    font-size: 28px;
  }
  .social-media {
    width: auto;
  }
  .social-media p {
    font-size: 18px;
  }
  .media-embedd {
    flex-direction: column;
  }
  .instagram-media,
  .facebook-media {
    width: 100%;
    height: 125px;
  }
}
/* Medium Devices (Landscape tablets, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .page-title {
    font-size: 48px;
    padding: 0;
  }

  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 15px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 18px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 100px;
  }

  .homePage {
    flex-direction: row;
    height: auto;
  }
  .homeContentLeft {
    width: 50%;
    padding-right: 30px;
    text-align: left;
  }
  .homeContentLeft span {
    font-size: 56px;
  }
  .homeContentLeft p {
    font-size: 22px;
  }
  .homeContentRight {
    width: 50%;
  }
  .homeContentRight img {
    width: 100%;
    height: auto;
  }
  .buttons {
    display: flex;
    justify-content: left;
  }
  .orderButton {
    font-size: 16px;
  }
  .galleryButton {
    font-size: 16px;
  }
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-item {
    width: 35%;
    height: auto;
    margin: 15px;
  }
  .gallery-item img {
    width: 100%;
    height: 100%;
  }

  .about-container {
    flex-direction: column;
  }
  .about-text-container {
    width: auto;
  }
  .about-text-container li {
    font-size: 22px;
  }
  .about-container span {
    font-size: 36px;
  }
  .about-container p {
    font-size: 20px;
  }
  .about-map {
    width: auto;
  }
  .about-map iframe {
    width: 100%;
    height: 400px;
  }

  .contact-container {
    flex-direction: column;
  }
  .contact-info {
    width: auto;
  }
  .contact-info p {
    font-size: 20px;
  }
  .contact-info i {
    font-size: 24px;
  }
  .contact-container span {
    font-size: 28px;
  }
  .social-media {
    width: auto;
  }
  .social-media p {
    font-size: 18px;
  }
  .media-embedd {
    flex-direction: row;
  }
  .instagram-media,
  .facebook-media {
    width: 100%;
    height: 140px;
  }
}
/* Large Devices (Laptops/desktops, 993px and up) */
