@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* 
background: linear-gradient(to right,#ffd7e7, #ffbfd9, #f78da7);
*/ 

:root {
    --text-color: #533833;
    --accent-color: #E6C2BF;
    --accent-color-2: #FFFCED;
}

body, html {
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 0;
    
}

.page-title {
    color: var(--text-color);
    font-size: 50px;
    font-family: "playball", sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-title::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background: var(--text-color);
    margin: 5px auto;
    border-radius: 2px;
}

.page-title::before {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background: var(--text-color);
    margin: 5px auto;
    border-radius: 2px;
}

/* Navbar designs */
.header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(254,251,234,1) 0%, rgba(255,219,224,1) 65%, rgba(255,205,228,1) 100%);
    box-sizing: border-box;
}

.headerTitle {
    padding-left: 60px;
    padding-top: 10px;
    font-family: "ms madi", sans-serif; /* Alt text font */
}

.headerLinksContainer {
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-bottom: 30px;
}

.headerLinks {
    display: flex;
    gap: 20px;

}

.link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.link:hover {
    color: var(--accent-color-2);
}

.socialLinks {
    display: flex;
    gap: 10px;
    margin-left: 30px;
}

.social-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 24px;
}

.social-link:hover {
    color: var(--accent-color-2);
}

/* Home/Welcome Page */
.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(254,251,234,1) 0%, rgba(255,219,224,1) 65%, rgba(255,205,228,1) 100%);
    height: 700px;
}

/* UNCOMMENT WHEN BACKGROUND STICKER IS IMPLEMENTED */
/* .homePage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/sticker.png') no-repeat center center;
    background-size: contain;
    z-index: 1;
} */

.homeContentLeft {
    width: 600px;
    margin: 0.5rem 1rem;
    padding-right: 400px;
    /* z-index: 2; */
}

.homeContentLeft span {
    font-family: "playball", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: var(--text-color);
}

.homeContentLeft p {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.orderButton {
    padding: 15px 25px;
    width: 100px;
    background-color: var(--text-color);
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
}

.galleryButton {
    padding: 10px 20px;
    height: 75%;
    background-color: #fff;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}

.orderButton:hover {
    background-color: var(--accent-color);
}

.galleryButton:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.homeSocialLinks {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.home-social-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 36px;
}

.home-social-link:hover {
    color: var(--accent-color);
}   

.homeContentRight {
    width: 600px;
    margin: 0.5rem 1rem;
    z-index: 2;
}

.homeContentRight img {
    width: 100%;
    border-radius: 8px;
}


/* Gallery Section Styles */
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px
}

.gallery-item img {
    width: 300px;
    height: 300px;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1); 
}

.image-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: var(--accent-color-2);
    font-size: 30px;
    padding: 10px 5px;
}

.image-text::after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 10px;
    width: 0;
    background: var(--text-color);
    transition: width .2s;
}

.gallery-item:hover .image-text::after {
    width: 100%;
}

/* About Section */
.about {
    background: linear-gradient(90deg, rgba(254,251,234,1) 0%, rgba(255,219,224,1) 65%, rgba(255,205,228,1) 100%);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.about-container span {
    font-family: "poppins", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--text-color);
}

.about-text-container {
    width: 600px;
    height: auto;
    margin: 0.5rem 1rem;
    list-style: none;
}

.about-text-container p {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.about-text-container li {
    font-family: 'lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.services-text {
    li:nth-child(2)::before {
        content: "🎂 ";
    }

    li:nth-child(3)::before {
        content: "🍪 ";
    }

    li:nth-child(4)::before {
        content: "🧁 ";
    }

    li:nth-child(5)::before {
        content: "🎈 ";
    }
}

.about-map {
    width: 600px;
    height: auto;
    margin: 0.5rem 1rem;
}

.google-map {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}