@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

/* 
background: linear-gradient(to right,#ffd7e7, #ffbfd9, #f78da7);
*/

:root {
  --text-color: #533833;
  --accent-color: #e6c2bf;
  --accent-color-2: #fffced;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #fef8fc;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* Navbar designs */
.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(254, 251, 234, 1) 0%,
    rgba(255, 219, 224, 1) 65%,
    rgba(255, 205, 228, 1) 100%
  );
  box-sizing: border-box;
}

.headerTitle {
  padding-left: 60px;
  padding-top: 10px;
  font-family: "ms madi", sans-serif; /* Alt text font */
}

.headerLinksContainer {
  display: flex;
  align-items: center;
  padding-right: 60px;
  padding-bottom: 30px;
}

.headerLinks {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
}

.link:hover {
  color: var(--accent-color-2);
}

.socialLinks {
  display: flex;
  gap: 10px;
  margin-left: 30px;
}

.social-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
}

.social-link:hover {
  color: var(--accent-color-2);
}

.gallery-Intro {
  background: linear-gradient(
    90deg,
    rgba(254, 251, 234, 1) 0%,
    rgba(255, 219, 224, 1) 65%,
    rgba(255, 205, 228, 1) 100%
  );
  padding: 0px 200px;
}

.gallery-Intro h1 {
  color: var(--text-color);
  font-size: 50px;
  font-family: "playball", sans-serif;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-bottom: 20px;
}

.gallery-Intro p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.gallery-item {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Media Queries */

/* Extra Small Devices (Small phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .headerTitle {
    padding: 0;
    margin-bottom: 10px;
  }

  .headerLinksContainer {
    flex-direction: column;
    padding: 0;
    gap: 10px;
  }

  .headerLinks {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .socialLinks {
    margin: 10px 0;
  }

  .gallery-Intro {
    padding: 0px 10px;
  }

  .gallery-Intro h1 {
    font-size: 35px;
    padding: 0;
  }

  .gallery-Intro p {
    font-size: 14px;
  }

  .gallery-container {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }

  .gallery-item {
    width: 100%;
    height: 200px;
    margin: 0;
  }
}

/* Regular mobile Devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gallery-Intro {
    padding: 0px 10px;
  }
  .gallery-Intro h1 {
    font-size: 40px;
    padding: 0;
  }

  .header {
    gap: 10px;
  }
  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 10px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 16px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 80px;
  }

  .gallery-Intro p {
    font-size: 16px;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .gallery-item {
    width: 100%;
    height: 180px;
    margin: 0;
  }
}

/* Small Devices (Portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .gallery-Intro {
    padding: 0px 20px;
  }
  .gallery-Intro h1 {
    font-size: 44px;
    padding: 0;
  }

  .header {
    gap: 10px;
  }
  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 10px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 18px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 90px;
  }

  .gallery-Intro p {
    font-size: 18px;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
  }

  .gallery-item {
    width: 100%;
    height: 190px;
    margin: 0;
  }
}

/* Medium Devices (Landscape tablets, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .gallery-Intro {
    padding: 0px 30px;
  }
  .gallery-Intro h1 {
    font-size: 48px;
    padding: 0;
  }

  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 15px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 18px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 100px;
  }

  .gallery-Intro p {
    font-size: 20px;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .gallery-item {
    width: 100%;
    height: 250px;
    margin: 0;
  }
}

/* Large Devices (Laptops/desktops, 993px to 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .gallery-Intro {
    padding: 0px 40px;
  }
  .gallery-Intro h1 {
    font-size: 52px;
    padding: 0;
  }

  .headerLinksContainer {
    padding-bottom: 0;
    padding-right: 15px;
    gap: 15px;
  }
  .headerLinks {
    gap: 15px;
  }
  .socialLinks {
    margin: 0;
  }
  .link {
    font-size: 18px;
  }

  .headerTitle {
    padding: 0;
  }
  .headerLogo {
    width: 100px;
  }

  .gallery-Intro p {
    font-size: 22px;
  }
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 25px;
  }

  .gallery-item {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}

/* Extra Large Devices (Large desktops, 1401px and up) */
@media only screen and (min-width: 1401px) {
  .gallery-container {
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
  }

  .gallery-item {
    width: 100%;
    height: 350px;
    margin: 0;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.orderButton {
  padding: 10px 20px;
  height: 75%;
  background-color: var(--text-color);
  border: 2px solid transparent;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
}

.orderButton:hover {
  background-color: var(--accent-color);
}
